.portada_manga img {
    width: 200px;
}

.miniatura img {
    width: 120px;
}

.tabla-info td {
    padding: .5rem;
}

button {
    border: none;
    box-shadow: 0 0 5px 0 lightgray;
    margin: 5px;
}

button a {
    color: black;
    text-decoration: none;
}

.tabla-info tr {
    border-bottom: 1px solid darkgray;
}

.tabla-info th {
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    margin-top: 30px;
}

.section_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -15px;
}

.section_item {
    width: 230px;
    margin: 15px;
    flex-shrink: 0;
}

.window {
    background: #f0f0f0;
    border: none;
    border-radius: 2.5px;
    display: flex;
    flex-direction: column;
    transition: all .4s;
}

.window_content {
    position: relative;
    background: #fff;
    margin: 0 3px 3px;
    border-radius: 1.5px;
    flex-grow: 1;
    overflow: hidden;
}

.window-default
.manga_name {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
}

.window-default
.portada_manga {
    height: 355px;
    width: 100%;
}

.info-tomo {
    width: 100%;
    text-decoration: none;
    color: darkslategrey;
    padding: .5rem;
    border: 1px solid rgb(233, 232, 232);
    text-align: center;
    align-items: center;
}

.info-tomo:hover {
    color: darkslategrey;
    background-color: whitesmoke;
}

.boton-carrito {
    color: darkslategrey;
    text-decoration: none;
    margin-right: .5rem;
}

.input-cantidad {
    width: 40px;
}

.rellenar-espacio {
    width: 100%;
}

.barra-busqueda {
    width: 300px;
}

@media screen and (max-width: 770px){
    .barra-busqueda {
        width: 135px;
    }
}

.tabla-generos {
    width: 120px;
}

.genero {
    margin: 0px 0px 10px 20px;
    padding: 0px 10px 0px 10px;
    background-color: ghostwhite;
    border: 1px solid lightgray;
}

.boton-eliminar {
    background-color: rgb(235, 97, 33);
}

.boton-agregar {
    background-color: darkcyan;
    color: whitesmoke;
}

.lista-overflow {
    height: 300px;
    overflow-y: scroll;
}

// https://stackoverflow.com/questions/37369452/use-laravel-seed-and-sql-files-to-populate-database
